/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.5;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #0A0A0A !important;
	/* font-family: 'Roboto', sans-serif !important; */
	font-family: 'arial', sans-serif !important;
}

.container-fluid {
	background-color: #0A0A0A;
}

.content-title {
	text-align: center;
	font-size: 1.2em;
}

.content {
	margin: 10px 30px 30px;
	text-align: left;
}

#header {
	margin: 40px 0px 30px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #f9f9f9;
	line-height: 1.5;
	font-size: .9em;
}

#name {
	margin-bottom: 0;
}

#specialty {
	animation: color-change 15s infinite;
	padding-left: 1px;
	font-size: .85em;
}

#introduction {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 0px !important;
}

#hamburger-menu {
	text-align: right;
	margin-right: 20px;
	margin-bottom: 70px;
}

@keyframes color-change {
	0% {
		color: #eae0a2
	}

	50% {
		color: #74a6f2;
	}

	75% {
		color: #bd87dc;
	}

	100% {
		color: #eae0a2
	}
}

.navbar-dark {
	margin-top: 15px;
	margin-bottom: 10px;
}

.navbar-toggler {
	border: 0px !important;
	margin-bottom: 1px;
}

.navbar-toggler-icon {
	border: 0px !important;
	height: 35px !important;
	width: 35px !important;
}

#navbarToggleExternalContent {
	text-align: right;
	visibility: visible;
	margin-right: 28px;
	flex: auto;
}

#portfolio-slideshow {
	background-color: #f9f9f9;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
}
.slideshow-text {
	margin-top: 10px;
	text-align: center;
	color: #0A0A0A;
}

.slideshow-text:link {
	color: #1A0DAB !important;
}

.slideshow-text:visited {
	color: #681DB0 !important;
}

.slideshow-panel-name {
	font-size: 1.2em;
}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
	{
	filter: invert(100%);
}

a {
	scroll-behavior: smooth;
}

ul, li {
	color:#f9f9f9;
	font-size: .95em;
}

/* unvisited link */
a:link {
	color: #8AB4F8;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #C58AF9 !important;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: underline;
	color: none !important;
}

.nav-link {
	font-size: larger !important;	
	font-weight: bold !important;
}

.nav-link {
	color: #cacaca !important;
}

.nav-link:hover {
	color: #f9f9f9 !important;
	text-decoration: none;
}

.navbar-brand:hover {
	text-decoration: none !important;
}

#about {
	text-align: center;
}

.preview-image {
	margin-bottom: 30px;
}

#react-projects-img {
	border-radius: 25px;
	border: 2px solid gray;
}

#doc-file {
	margin-top: 10px
}

.footer-icons {
	filter: invert(100%);
	height: 23px;
	width: 23px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 5px;
}

.footer-icons:hover,
.footer-icons:focus {
	filter: invert(30%);
}

.footer {
	margin-top: 120px;
	text-align: center;

}

#footer-text {
	font-size: .8em;
}


/* Tablet Query */
@media screen and (min-width: 500px) {
	.preview-page-toggler {
		visibility: hidden;
	}

	.nav-link {
		font-weight: lighter !important;
	}

	.short-content {
		text-align: center;
	}

}

/* Desktop Query */
@media screen and (min-width: 1025px) {

	body {
		background-color: #0A0A0A;
	}

	.navbar-dark {
		margin: 10px 240px 5px;
	}

	#name {
		font-size: 1.7em;
	}

	#name #specialty {
		margin-left: 50px;
		padding-left: 40px;
	}

	#specialty {
		font-size: 1em;
		margin-left: 1px;
	}

	#portfolio-slideshow {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 270px;
		padding-right: 270px;
	}
	
	.carousel-item {
		margin-bottom: 10px;
		}

	p {
		text-align: left;
	}

	#greeting {
		text-align: center;
	}

	.content {
		padding: 0 410px;

	}

	#footer-text {
		text-align: center;
		font-size: .7em;
	}
}